<template name="editPatient">
  {{#contentFor "headerTitle"}}
    <a href="{{pathFor 'home'}}" class="button icon-left ion-arrow-left-c button-clear button-dark"> GO BACK </a>
  {{/contentFor }}

{{#ionView}}
  {{#ionContent}}
    <div class="row padding padding-top-lg ">
      <form class="full-width">
        <div class="input-field">
          <input type="text" id="name" name="patient_name" placeholder="Patient Name" value={{name}}>
          <label for="name" class="full-width">Patient Name</label>
        </div>
        <div class="input-field">
          <input type="text" id="name" name="attender_name" placeholder="Patient Name" value={{name}}>
          <label for="name" class="full-width">Attender Name</label>
        </div>
        <div class="input-field">
          <input type="number" name="phone" placeholder="Phone #" value="{{phone}}">
          <label class="full-width">Phone Number</label>
        </div>

        <div class="input-field">
          <input type="radio" name="language" id="Kannada" value="Kannada">
          <label for="Kannada">Kannada</label>
        </div>
        <div class="input-field">
          <input type="radio" name="language" id="Hindi" value="Hindi">
          <label for="Hindi">Hindi</label>
        </div>

        <div class="input-field padding">
          <input type="checkbox" id="subscribe" name="subscribe"/>
          <label for="subscribe"> <b class="black-text">Subscribe to Phone Messaging</b></label>
        </div>

        <div class='input-field'>
          <a id="save_patient" class="submit button button-calm full-width" href="{{pathFor 'home'}}"> Save Patient </a>
        </div>
      </form>
    </div>
  {{/ionContent}}
{{/ionView}}
</template>
