<template name="listPatients">
  {{#contentFor "headerTitle"}}
    <a href="{{pathFor 'home'}}"><img class="logo" alt="Noora Health" src="/NHlogo.png"/></a>
  {{/contentFor }}

{{#ionView}}
  {{#ionContent}}
    <div class="row padding-top-lg">
      <i class="small icon ion-search"></i><input type="search" id="search" placeholder="Search by Name, Phone #, Condition" >
    </div>

    <div class="list">
      <h3> Current Patients </h3>
      {{#each patients}}
        <div class="row">
          <a id="{{_id}}" class="full-width patient"> {{name}}, {{phone}}, {{condition}} </a>
        </div>
      {{/each}}
    </div>
  {{/ionContent}}
{{/ionView}}
  
</template>
